<div>
   
   <h1>MAIN PAGE</h1>
    <img src="https://static.wikia.nocookie.net/sonicfanon/images/7/76/Shakypug.gif" alt="">
    <a href="/auth/logout"><button>Logout</button></a>
    <a href="/auth/private">Go to private page</a>
</div>